<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Proccessing user</h2>

        <table class="view-processing-user" style="width: 500px">
          <tr>
            <td>
              <font size="4" color="white" class="font">Name</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.name}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Lastname</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.lastname}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Username</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.username}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Email</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.email}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Address</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.address}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Date of birth</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.birthday}}</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="4" color="white" class="font">Account type</font>
            </td>
            <td>
              <font size="4" color="white" class="font">{{proccessingPassenger.acctype}}</font>
            </td>
          </tr>

          <tr>
            <td>
                <div class="p-t-10">
                    <button class="btn btn--pill btn--red" type="submit" (click)="DenyValidate()">Deny</button>
                </div>
            </td>
            <td>
                <div class="p-t-10">
                    <button class="btn btn--pill btn--green" type="submit" (click)="AcceptValidate()">Accept</button>
                </div>
            </td>
          </tr>
        </table>


      </div>
    </div>
  </div>
</div>