<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title" align="center">Map</h2>


        <p>
          <!-- Kreiramo mapu -->
          <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18"
            (mapClick)="placeMarker($event)">

            <agm-marker [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude"
              [title]="markerInfo.title" [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl">

              <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
              <agm-info-window [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude">

                <!-- U info-window stavljamo html -->
                <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
                <br />
                <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
                <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
                <a [href]="markerInfo.link">See the site.</a>
              </agm-info-window>

            </agm-marker>

            <agm-polyline [strokeColor]="polyline.color">
              <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude"
                [longitude]="point.longitude">
              </agm-polyline-point>
            </agm-polyline>

            <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude"
              [iconUrl]="polyline.icon">
            </agm-marker>

          </agm-map>
        </p>
        <br />
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="p-t-10" align="center">
            <button class="btn btn--pill btn--green" type="submit" [disabled]="registerForm.invalid">Create
              route</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>