<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title" align="center">Map</h2>


        <p>
          <!-- Kreiramo mapu -->
          <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18"
            (mapClick)="placeMarker($event)">

            <agm-marker [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude"
              [title]="markerInfo.title" [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl">

              <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
              <agm-info-window [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude">

                <!-- U info-window stavljamo html -->
                <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
                <br />
                <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
                <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
                <a [href]="markerInfo.link">See the site.</a>
              </agm-info-window>

            </agm-marker>

            <agm-polyline [strokeColor]="polyline.color">
              <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude"
                [longitude]="point.longitude">
              </agm-polyline-point>
            </agm-polyline>

            <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude"
              [iconUrl]="polyline.icon">
            </agm-marker>

          </agm-map>
        </p>
        <br />
        <form [formGroup]="addNameForm" (ngSubmit)="createRoute()" *ngIf="jwt.getRole() == 'Admin'">
          <div class="input-group" style="width: 200px">
            <input class="input--style-3" type="text" placeholder="Route name" formControlName="name" required>
          </div>
          <div *ngIf="routeForm.name.invalid && (routeForm.name.dirty || routeForm.name.touched)"
            class="alert alert-danger">
            <div *ngIf="routeForm.name.errors.required">
              <font size="2" color="white">Name is required.</font>
            </div>
          </div>
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search" *ngIf="jwt.getRole() == 'Admin'">
              <font size=" 3" color="white">Area</font>
              <select formControlName="area" style="background-color: black; color: white">
                <option selected="selected">Urban</option>
                <option>Suburban</option>
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>
          <div class="p-t-10">
            <button class="btn btn--pill btn--green" type="submit" [disabled]="addNameForm.invalid">Create
              route</button>
          </div>
        </form>
            <form [formGroup]="selectRouteForm" (ngSubmit)="selectRoute()" *ngIf="jwt.getRole() != 'Admin'">
              <font size="3" color="white">Select urban route</font>
              <select style="background-color: black; color: white " (change)="selectRoute($event.target.value)">
                <option *ngFor="let routeName of routeNames" [value]="routeName">{{routeName}}</option>
              </select>
              <noscript> <input type="submit" value="Submit"></noscript>
            </form>
            <br>
            <form [formGroup]="selectRouteForm" (ngSubmit)="selectRoute()" *ngIf="jwt.getRole() != 'Admin'">
              <font size="3" color="white">Select suburban route </font>
              <select style="background-color: black; color: white " (change)="selectRoute($event.target.value)">
                <option *ngFor="let routeName of routeNames2" [value]="routeName">{{routeName}}</option>
              </select>
              <noscript> <input type="submit" value="Submit"></noscript>
            </form>
      </div>
    </div>
  </div>
</div>