<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Error plicelist</h2>
        <nav>
          <font size="4" color="white">You entered wrong period of time.</font>
          <br />
          <br />
          <a routerLink="/modifyPricelist" routerLinkActive="active"><font size="4">Back to modification</font></a>
          <br />
          <a routerLink="/viewFuturePricelists" routerLinkActive="active"><font size="4">Future pricelists</font></a>
          <br />
          <a routerLink="/home" routerLinkActive="active"><font size="4">Home</font></a>
        </nav>
      </div>
    </div>
  </div>
</div>
