<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Ticket prices</h2>
        <ul class="prices">
          <li *ngFor="let price of prices" [class.selected]="price === selectedPrice" (click)="onSelect(price)">
            <table class="view-prices colour-of-row" style="width: 450px">
              <tr>
                <td width="50%">
                  <font size="4" color="white">{{price.ticketType}} ticket price</font>
                </td>
                <td width="50%">
                  <font size="4" color="white">{{price.price}}</font>
                </td>
              </tr>
            </table>
          </li>
        </ul>
        <br />
        <nav>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </nav>
      </div>
    </div>
  </div>
</div>