<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title" align="center">View departure time</h2>

        <form [formGroup]="viewRoutesForm">
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <font size=" 3" color="white">Area</font>
              <select formControlName="area" style="background-color: black; color: white"
                (change)="selectArea($event.target.value)">
                <option selected="selected">Urban</option>
                <option>Suburban</option>
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>
        </form>


        <form [formGroup]="viewDepTimesForm" (ngSubmit)="viewDepTimes()">
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <font size=" 3" color="white">Route number</font>
              <select formControlName="id" style="background-color: black; color: white">
                <option *ngFor="let routeName of routeNames" [value]="routeName">{{routeName}}</option>
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>

            <div class="input-group">
              <div class="rs-select2 js-select-simple select--no-search">
                <font size=" 3" color="white">Day type</font>
                <select formControlName="dayType" style="background-color: black; color: white">
                  <option selected="selected">WorkDay</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
                <div class="select-dropdown"></div>
              </div>
            </div>

              <div class="p-t-10">
                <button class="btn btn--pill btn--green" type="submit">Get times</button>
              </div>
            
        </form>

        <form [formGroup]="viewDepTimesForm">
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <font size=" 3" color="white">Time</font>
              <select formControlName="time" style="background-color: black; color: white"
                (change)="selectTime($event.target.value)">
                <option *ngFor="let time of departureTimes" [value]="time">{{time}}</option>
              
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
