<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">There is no place like 127.0.0.1</h2>

        <nav>
          <a routerLink="/modify" routerLinkActive="active" *ngIf="jwt.getRole() == 'AppUser'">Modify account</a>
          <br />
          <a routerLink="/validateUsers" routerLinkActive="active" *ngIf="jwt.getRole() == 'Controller'">Validate users</a>
          <br />
          <a routerLink="/viewPricelists" routerLinkActive="active" *ngIf="jwt.getRole() != 'Controller'">View all pricelists</a>
          <br />
          <a routerLink="/viewFuturePricelists" routerLinkActive="active" *ngIf="jwt.getRole() == 'Admin'">Modify pricelists</a>
          <br />
          <a routerLink="/pricelist" routerLinkActive="active" *ngIf="jwt.getRole() == 'Admin'">Create pricelist</a>
          <br />
          <a routerLink="/buyTicket" routerLinkActive="active" *ngIf="jwt.getRole() != 'Admin' && jwt.getRole() != 'Controller'">Buy ticket</a>
          <br />
          <a routerLink="/map" routerLinkActive="active" *ngIf="jwt.getRole() != 'Controller'">Routes</a>
          <br />
          <a routerLink="/viewDepartureTime" routerLinkActive="active" *ngIf="jwt.getRole() != 'Controller'">View departure time</a>
          <br />
          <a routerLink="/createDepartureTime" routerLinkActive="active" *ngIf="jwt.getRole() == 'Admin' ">Create departure time</a>
          <br />
          <a routerLink="/deleteDepartureTime" routerLinkActive="active" *ngIf="jwt.getRole() == 'Admin' ">Delete departure time</a>
        </nav>

      </div>
    </div>
  </div>
</div>