<div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Error</h2>
        <nav>
          <font size="4" color="white">You entered wrong username (e-mail) or password.</font>
          <br />
          <a routerLink="/login" routerLinkActive="active"><font size="4">Log in</font></a>
          <br />
          <br />
          <font size="2" color="white">Don't have an account?</font>
          <br />
          <a routerLink="/register" routerLinkActive="active"><font size="4">Register</font></a>
        </nav>
      </div>
    </div>
  </div>
</div>